<!DOCTYPE html>
<meta name='viewport' content='user-scalable=no'>
<html lang="en">
  <head>
    <title>About Sean</title>

  {% include commoncss.ext %}

  </head>
  <body style="padding:5%; background: url({{ HOME_PATH }}/assets/tiler.jpg) repeat fixed;font-family: 'Arvo', serif; font-weight: 400;">

  {% include navbar.ext %}

  <div class="container" style="background:white; padding: 2% 5%; border-radius:1em">

    {{content}}

  </div>

  {% include commonjavascript.ext %}

  </body>
</html>
