<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Searke's blog</title>
{% include commoncss.ext %}


</head>
<body>


<div class="content pure-g-r">
    {% include navbar.ext %}

    <div class="content pure-u-1">
        <div class="pure-g-r">
            <div class="pure-u-4-5">
                {{content}}
           </div>
      </div>
</div>

{% include commonjavascript.ext %}

</body>
</html>
