<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Searke's Blog</title>

	{% include commoncss.ext %}

</head>

<body>

<div class="content pure-g-r">
    {% include navbar.ext %}

    <div class="content pure-u-1">
        <div class="pure-g-r">
            <div class="pure-u-4-5">
                {{content}}
           </div>
      </div>
</div>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    displayAlign: "left"
});
</script>

{% include commonjavascript.ext %}

</body>
</html>
