<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Searke's Blog</title>

	{% include commoncss.ext %}

</head>

<body>

<div class="content pure-g">
    {% include navbar.ext %}

    <div class="pure-u-1 pure-u-md-1-2">
       <div class="content">
           {{content}}
       </div>
    </div>
</div>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

MathJax.Hub.Config({
    jax: ["input/TeX","output/HTML-CSS"],
    displayAlign: "left",
    displayIndent: "3em"
});
</script>

{% include commonjavascript.ext %}

</body>
</html>
